      <div class="mo" onclick="location.href='{% url 'listings_view' %}'"><span class="moic">📦</span><div class="molb">Sell Product</div></div>
      <div class="mo" onclick="location.href='{% url 'Auth_view' %}'"><span class="moic">🔍</span><div class="molb">Request Item</div></div>
      <div class="mo" onclick="openBoost()"><span class="moic">🚀</span><div class="molb">Feature Listing</div></div>
      <div class="mo" onclick="location.href='{% url 'payments_view' %}'"><span class="moic">💬</span><div class="molb">Arrange Meetup</div></div>